/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  font-family: "Lucida Grande",Helvetica,sans-serif;
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #28739c; }
a:hover { color: #28739c; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/* Primary Styles
    Author: RMS
 */

/*
 -----------------
 Table of Contents
 -----------------
 Global
 Regions
   Header
   Main
   Footer
 Areas
   Content
   Sidebar
 Modules
 -----------------
 */


/* + *** GLOBAL *** */

body {
  background:           #dbe4ea;
  overflow-x:           hidden; /* so header box-shadow doesn't create horiz scrollbar */
}

a {
  text-decoration:      none;
}

input[type=text] {
  padding:              3px 2px;
  background-color:     #fff;
  border:               1px solid #b2b2b2;
  -moz-border-radius:   4px;
  border-radius:        4px;
}

.wrapper {
  margin:               0 auto;
  position:             relative;
}

/* / *** GLOBAL *** */


/* + *** REGIONS *** */

/* + HEADER */

header {
  position:             relative;
  z-index:              5;
  background:           #fff;
     -moz-box-shadow:   0px 0px 4px #9c8f85; 
  -webkit-box-shadow:   0px 0px 4px #9c8f85; 
          box-shadow:   0px 0px 4px #9c8f85;
  /* TODO: Does Modernizr take care of these? */
	/* For IE 8 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#9c8f85')"; */
	/* For IE 5.5 - 7 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#9c8f85'); */
}

header .wrapper {
  width:                960px;
  min-height:           99px;
  height:               auto !important;
  height:               99px;
}

header h1 {
  float:                left;
  position:             relative;
  top:                  41px;
  left:                 0;
}
header h1 a {
  text-indent:          -9999px;
  width:                120px;
  height:               40px;
  display:              block;
  background:           transparent url(../images/logo.png) top left no-repeat;
}

header #login {
  float:                right;
  clear:                right;
  width:306px;
  text-align:right;
  padding:              12px 0 16px;
}
header #login form {
  display:              inline;
}
header #login form input[type=text] {
  color:                #5e5e5e;
  text-align:           right;
  -moz-border-radius:   4px 0 0 4px;
  border-radius:        4px 0 0 4px;
}

/* + *** GLOBAL NAV *** */

header nav {
  position:             absolute;
  bottom:               0;
  right:                0;
}

header nav ul.sf-menu li {
  float:                left;
  position:             relative;
  margin-right:         -1px;
  display:              inline;
  font-size:            93%;
  font-weight:          bold;
  height:               29px;
  overflow:             visible;
}
header nav ul.sf-menu li a {
  color:                #616161;
  text-decoration:      none;
  text-transform:       uppercase;
  display:              block;
  position:             relative;
  z-index:              5;
  height:               15px;
  padding:              2px 30px 3px;
  border:               1px solid #dadada;
  border-width:         0 1px;
  overflow:             visible;
}
header nav ul.sf-menu li.selected {
/*  border-bottom:        4px solid #c3151c;*/
}
header nav ul.sf-menu li.selected a .tl {
  height:               23px;
  border-bottom:        4px solid #c3151c;
  display:              block;
}
header nav ul.sf-menu li a:visited {
  color:                #616161;
}
header nav ul.sf-menu li.sfHover a,
header nav ul.sf-menu li a:hover,
header nav ul.sf-menu li a:active {
  color:                #bd081b;
  background:           #eee url(../images/bg_gnav_hover.png) top left repeat-x;
  padding-bottom:       30px;
}
header nav ul.sf-menu li.selected a:hover .tl,
header nav ul.sf-menu li.selected a:active .tl {
  border:               none;
}

header nav ul.sf-menu li ul.sn {
  width:460px;
  border:               1px solid #dadada;
  border-width:         0 1px 1px;
  padding:16px;
  position:             absolute;
  top:                  29px;
  left:                 0;
  z-index:              1;
  display:              none;
  background:           #eee url(../images/bg_snav_ul.png) top left repeat-x;
  -moz-border-radius:   0 0 5px 5px;
  border-radius:        0 0 5px 5px;
     -moz-box-shadow:   0px 3px 3px -3px #9c8f85; 
  -webkit-box-shadow:   0px 3px 3px -3px #9c8f85; 
          box-shadow:   0px 3px 3px -3px #9c8f85;
  /* TODO: Does Modernizr take care of these? */
	/* For IE 8 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#9c8f85')";*/
	/* For IE 5.5 - 7 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#9c8f85');*/
}
/*
header nav ul.sf-menu li:hover ul.sn {
  display:block;
}
*/
header nav ul.sf-menu li ul li {
  float:                none;
  margin:               0;
  display:              block;
  height:               auto;
}
header nav ul.sf-menu li ul li .subnavLt {
  width:                225px;
  padding:              1px 23px 0 7px;
  border-right:         1px solid #c7c7c7;
  float:                left;
}
header nav ul.sf-menu li ul li .subnavRt {
  width:                174px;
  padding:              14px 7px 0 23px;
  float:                left;
}
/*
header nav ul.sf-menu li ul li ul {
  width:auto;
  border:none;
  background:none;
  padding:0;
  position:relative;
  top:0;
  overflow:hidden;
}
header nav ul.sf-menu li ul li ul li {
}
*/
header nav ul.sf-menu li ul li .snavItems {
  position:             relative;
  overflow:             hidden;
}
header nav ul.sf-menu li.sfHover ul li .snavItem a,
header nav ul.sf-menu li ul li .snavItem a {
  color:                #28739c;
  text-transform:       none;
  height:               auto;
  padding:              9px 0 6px;
  border:               1px solid #c0c0c0;
  border-width:         1px 0 0;
  top:                  -1px;
  background:           none;
}
header nav ul.sf-menu li ul li .snavItem a:visited {
  color:                #28739c;
}
header nav ul.sf-menu li ul li .snavItem a:hover,
header nav ul.sf-menu li ul li .snavItem a:active {
  color:                #bd081b;
  padding:              9px 0 6px;
}
header nav ul.sf-menu li ul li .snavItem a h4 {
  font-size:            116%;
  margin-bottom:        5px;
}
header nav ul.sf-menu li ul li .snavItem a p {
  color:                #202020;
  font-weight:          normal;
  padding:              0 16px 3px 0;
  background:           #eee url(../images/arrow_snav_item.png) 100% 1px no-repeat;
  -moz-opacity:         0.55;
  -ms-filter:           "alpha(opacity=55)";
  filter:               alpha(opacity=55);
  opacity:              0.55;
}
header nav ul.sf-menu li ul li .snavItem a:hover p,
header nav ul.sf-menu li ul li .snavItem a:active p {
  -moz-opacity:         1;
  -ms-filter:           "alpha(opacity=100)";
  filter:               alpha(opacity=100);
  opacity:              1;
}

header nav ul.sf-menu li ul li .extras h4 {
  color:#888;
  font-size:125%;
  text-align:center;
  margin:0 0 10px;
}
header nav ul.sf-menu li ul li .extras img.fakeImg {
  margin:0 auto 10px;
  display:block;
  width:105px;
  height:105px;
  background:green;
}
header nav ul.sf-menu li ul li .extras a.cta {
  margin:0 auto;
  display:block;
  color:#fff;
  background:#3279a0;
  text-transform:uppercase;
  padding:10px 16px 5px;
  text-align:center;
  border:1px solid gray;
}

/* / *** GLOBAL NAV *** */

/* / HEADER */

/* + MAIN */

#main {
/*  width:                928px;*/
  width:                960px;
  position:             relative;
  z-index:              1;
  margin-top:           10px;
  padding-bottom:       40px;
/*  padding:              16px;*/
}

/* These templates are full width */
#t01 #main,
#t05 #main {
  width:                100%;
  margin-top:           0;
  padding:              0;
  }

/* / MAIN */

/* + SUBFOOTER */

.subfooter {
  height:               20px;
  border-bottom:1px solid #b9b8b8;
  background:#bdcfd9;
}

/* / SUBFOOTER */

/* + FOOTER */

footer {
  font-size:90%;
  text-align:           center;
  padding:              20px 0;
  background:           #fff;
}

footer .wrapper {
  width:                960px;
}

/* / FOOTER */

/* / *** REGIONS *** */


/* + *** AREAS *** */

/* + CONTENT */

/* These templates include a sidebar */
#t03 #content,
#t04 #content {
  width:                664px;
  margin:               0 10px;
  padding-right:        28px;
  float:                left;
}

#content section {
  padding:              32px 0 26px 0;
  border-top:1px solid #eee;
}

#content section div {
  height:250px;
  background:#cfcfcf;
  float:                left;
}
#content section div:last-child {
  background:#c1c1c1;
}

/* / CONTENT */

/* + SIDEBAR */

#main aside {
  width:                186px;
  padding:              24px 30px;
  border:               1px solid #cccacb;
  -moz-border-radius:   6px;
  border-radius:        6px;
  float:                left;
  background-color:     #fff;
}

/* / SIDEBAR */

/* / *** AREAS *** */


/* + *** MODULES *** */

/* + Feature */

#banner {
  height:254px;
  background:#00f;
}

#presenter {
  height:470px;
  background:#0ff;
}

/* / Feature */

/* + Breadcrumb */
/* / Breadcrumb */

/* + Toolbars */

#main #job_search {
  color:#000;
  margin-bottom:        40px;
  -moz-border-radius:   2px;
  border-radius:        2px;
  background-color:gray;
  height:67px;
}

#main #job_search div {
  margin:               8px 0 0 45px;
  float:                left;
}

#main #job_search label {
  margin-bottom:        4px;
  display:              block;
}

#main #job_search input {
  padding:              2px;
  width:                294px;
}

#main #job_search select {
  font-size:            16px;
  width:                240px;
}


/* / Toolbars */

/* + Sidebar */

#sidebar .quote {
  font-size:125%;
  color:gray;
}
#sidebar .quote .author {
  font-size:80%;
}
#sidebar .quote .author .title {
  color:gray;
}

#sidebar img {
  width:                226px;
  height:               131px;
  margin-top:20px;
  position:             relative;
  left:-42px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  -moz-box-shadow: 3px 3px 5px #ccc;
  -webkit-box-shadow: 3px 3px 5px #ccc;
  box-shadow: 3px 3px 5px #ccc;
  
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  
  behavior: url(js/libs/PIE/PIE.htc);
}

#sidebar .benefit {
  font-size:200%;
  font-weight:bold;
  line-height:.9;
  color:gray;
  margin:10px 0 20px;
}
#sidebar .benefit h4 {
  font-size:120%;
  font-weight:bold;
  color:blue;
}
#sidebar .benefit .subtext {
  font-size:70%;
  color:blue;
  text-transform:uppercase;
}



/* / Sidebar */

/* + Job Listings */

#job_listings h3 {
  font-size:            150%;
  margin-top:30px;
}

#job_listings h3:first-child {
  margin-top:           0;
}

#job_listings .category {
/*  color:red;*/
}

#job_listings article {
  margin-top:20px;
}

#job_listings article time {
  display:              none;
}

#job_listings article h4 {
  margin:               0 0 7px;
  padding:              0 0 5px;
  border-bottom:        1px solid #cbcbcb;
}

#job_listings article h4 a {
  text-decoration:      none;
}

#job_listings article h4 .loc {
  color:                #323232;
  padding-right:        11px;
  float:                right;
}

#job_listings .footer {
  margin-top:30px;
  color:black;
}

#job_listings .footer .subtext {
  color:gray;
}

#job_listings .footer a {
  color:black;
}

#job_listings .footer a.submit {
  text-transform:       uppercase;
  float:                right;
}

/*
#job_listings .footer a.signup {
  text-transform:       uppercase;
  display:              block;
  margin-top:10px;
  padding-left:10px;
}
*/

/* / Job Listings */

/* + Job Detail */

/* / Job Detail */

/* + Apply */

/* / Apply */

/* + Share */

/* / Share */

/* + Follow */

/* / Follow */

/* + Testimonials */

/* / Testimonials */

/* + Plugs */

/* / Plugs */

/* / *** MODULES *** */


/* TEMP */

.indexTitle {
  font-size:2em;
  width:120px;
  height:40px;
  margin:40px 0 40px 40px;
  text-indent:-9999px;
  background: url(../images/logo.png) 0 0 no-repeat;
}

ul.toc li a {
  text-decoration:none;
}
ul.toc li a:hover {
  color:#eee;
  background:#666;
}

ul.toc {
  color:#000;
  font-size:.8em;
  font-weight:bold;
  margin:2px 0 0 0;
  padding:4px;
  position:absolute;
  z-index:100;
  list-style-type:none;
  background:#ff0;
  opacity:0.5;
  filter:alpha(opacity=50);
}
ul.index.global li {
  margin-left:0; 
}
ul.index.global li a {
  font-weight:normal;
}

#indexPage {
  background:#fff;
}

#indexPage ul.toc {
  font-size:1em;
  line-height:1.5em;
  margin:0 40px;
  padding:10px;
  border:1px solid #ccc;
  background:#eee;
}

.tmpMsg {
  font-size:2em;
  font-weight:bold;
  color:#000;
}

/* / TEMP */




/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

