
/* imports first */

@import url("fonts/stylesheet.css");


/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  font-family: "Lucida Grande",Helvetica,sans-serif;
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #28739c; }
a:hover { color: #28739c; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
/* ::-moz-selection{ background: #dbe4ea; color:#fff; text-shadow: none; }
::selection { background:#dbe4ea; color:#fff; text-shadow: none; }  rem for now, causing problems for cssSandpaper  */

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #dbe4ea; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/* Primary Styles
    Author: RMS
 */

/*
 -----------------
 Table of Contents
 -----------------
 Global
 Regions
   Header
   Main
   Footer
 Areas
   Content
   Sidebar
 Modules
 -----------------
 */


/* + *** GLOBAL *** */

body {
/*  background:           #dbe4ea;*/
}

a {
  text-decoration:      none;
}

input[type=text],
input[type=password] {
  font:                 85%/100% Tahoma,Arial,sans-serif;
  padding:              3px 5px;
  background-color:     #fff;
  border:               1px solid #b2b2b2;
  -webkit-border-radius:4px 6px;
  -moz-border-radius:   4px 6px;
  border-radius:        4px 6px;
}

.wrapper {
  margin:               0 auto;
  position:             relative;
}

/* + Buttons */

#thing {
  border: 1px solid #696;
  padding: 60px 0;
  text-align: center;
  width: 200px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: #666 0px 2px 3px;
  -moz-box-shadow: #666 0px 2px 3px;
  box-shadow: #666 0px 2px 3px;
  background: #EEFF99;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#EEFF99), to(#66EE33));
  background: -moz-linear-gradient(#EEFF99, #66EE33);
  background: linear-gradient(#EEFF99, #66EE33);
  -pie-background: linear-gradient(#EEFF99, #66EE33);
  behavior: url(/PIE.htc);
}

.btn {
  color:                #fff;
  font:                 77%/100% "GothamHTFBold",Tahoma,Arial,sans-serif;
  text-transform:       uppercase;
  text-align:           center;
  padding:              7px 20px 6px 10px;
  border:               1px solid #878686;
  display:              inline-block;
  position:             relative;
  -webkit-border-radius:4px;
  -moz-border-radius:   4px;
  border-radius:        4px;
  background:           #699ab5 url(../images/btns.png) 100% 0 no-repeat;
  background:           url(../images/btns.png) 100% 0 no-repeat, -moz-linear-gradient(top, #699ab5 0%, #2a749d 100%);
  background:           url(../images/btns.png) 100% 0 no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#699ab5), color-stop(100%,#2a749d));
  -pie-background:      url(images/btns.png) 100% 0 no-repeat, linear-gradient(#699ab5, #2a749d);
  behavior: url(/PIE.htc);
}
.btn:hover,
.btn:active,
.btn:visited {
  color:                #fff;
}
.btn:hover {
  background:           #58839a url(../images/btns.png) 100% 0 no-repeat;
  background:           url(../images/btns.png) 100% 0 no-repeat, -moz-linear-gradient(top, #58839a 0%, #215a79 100%);
  background:           url(../images/btns.png) 100% 0 no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58839a), color-stop(100%,#215a79));
  -pie-background:      url(images/btns.png) 100% 0 no-repeat, linear-gradient(#58839a, #215a79);
  behavior: url(/PIE.htc);
}
.btn:active {
  background:           #1c4c66 url(../images/btns.png) 100% 0 no-repeat;
}

.btnLg {
  color:                #999898;
  font-size:            100%;
  text-shadow:          1px 1px 0 rgba(255,255,255,0.3);
  padding:              11px 12px 11px 44px;
  border-color:         #b8b8b7;
  background:           #fefefe url(../images/btns.png) 20px -874px no-repeat;
  background:           url(../images/btns.png) 20px -874px no-repeat, -moz-linear-gradient(top, #fefefe 0%, #d7d7d7 100%);
  background:           url(../images/btns.png) 20px -874px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#d7d7d7));
  -pie-background:      url(images/btns.png) 20px -874px no-repeat, linear-gradient(#fefefe, #d7d7d7);
     -moz-box-shadow:   0 2px 4px rgba(151,151,151,0.5); 
  -webkit-box-shadow:   0 2px 4px rgba(151,151,151,0.5); 
          box-shadow:   0 2px 4px rgba(151,151,151,0.5);
  behavior: url(/PIE.htc);
}
.btnLg:hover,
.btnLg:active,
.btnLg:visited {
  color:                #999898;
}
.btnLg:hover {
  background:           #fefefe url(../images/btns.png) 20px -874px no-repeat;
  background:           url(../images/btns.png) 20px -874px no-repeat, -moz-linear-gradient(top, #fefefe 0%, #a4a4a4 100%);
  background:           url(../images/btns.png) 20px -874px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#a4a4a4));
  -pie-background:      url(images/btns.png) 20px -874px no-repeat, linear-gradient(#fefefe, #a4a4a4);
  behavior: url(/PIE.htc);
}
.btnLg:active {
  background:           #d7d7d7 url(../images/btns.png) 20px -874px no-repeat;
}

.btnApply {
  color:                #eee;
  text-shadow:          1px 1px 0 rgba(95,95,95,0.3);
  padding:              11px 22px 11px 47px;
  border-color:         #838383;
  background:           #c3383d url(../images/btns.png) -30px -824px no-repeat;
  background:           url(../images/btns.png) -30px -824px no-repeat, -moz-linear-gradient(top, #c3383d 0%, #c3020a 100%);
  background:           url(../images/btns.png) -30px -824px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3383d), color-stop(100%,#c3020a));
  -pie-background:      url(images/btns.png) -30px -824px no-repeat, linear-gradient(#c3383d, #c3020a);
  behavior: url(/PIE.htc);
}
.btnApply:hover,
.btnApply:active,
.btnApply:visited {
  color:                #eee;
}
.btnApply:hover {
  background:           #93262a url(../images/btns.png) -30px -824px no-repeat;
  background:           url(../images/btns.png) -30px -824px no-repeat, -moz-linear-gradient(top, #93262a 0%, #8f0309 100%);
  background:           url(../images/btns.png) -30px -824px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93262a), color-stop(100%,#8f0309));
  -pie-background:      url(images/btns.png) -30px -824px no-repeat, linear-gradient(#93262a, #8f0309);
  behavior: url(/PIE.htc);
}
.btnApply:active {
  background:           #770207 url(../images/btns.png) -30px -824px no-repeat;
}

/* / Buttons */

/* / *** GLOBAL *** */


/* + *** REGIONS *** */

/* + HEADER */

header {
  position:             relative;
  z-index:              50;
  background:           #fff;
     -moz-box-shadow:   0 0 4px #9c8f85; /* 0px 0px 4px #9c8f85 */
  -webkit-box-shadow:   0 0 4px #9c8f85; /* 0px 0px 4px #9c8f85 */
          box-shadow:   0 0 4px #9c8f85; /* 0px 0px 4px #9c8f85 */
}

header .wrapper {
  width:                960px;
  padding:              0 40px;
  min-height:           77px;
  height:               auto !important;
  height:               77px;
}

header h1 {
  float:                left;
  position:             relative;
  top:                  22px;
  left:                 0;
}
header h1 a {
  text-indent:          -9999px;
  width:                120px;
  height:               40px;
  display:              block;
  background:           transparent url(../images/logo.png) top left no-repeat;
}

/* + Client Login */

header #login {
  float:                right;
  clear:                right;
  position:             relative;
  top:                  4px;
  left:                 7px;
  overflow:             visible;
  z-index:              100;
}
header #login.open {
  -webkit-border-radius:4px 4px 0 0;
  -moz-border-radius:   4px 4px 0 0;
  border-radius:        4px 4px 0 0;
     -moz-box-shadow:   0 3px 12px rgba(0,0,0,0.7); 
  -webkit-box-shadow:   0 3px 12px rgba(0,0,0,0.7); 
          box-shadow:   0 3px 12px rgba(0,0,0,0.7); 
}

header #login #btnClientLogin {
  color:                #2d7db5;
  font:                 85%/100% Arial,sans-serif;
  text-align:           center;
  padding:              7px;
  border:               1px solid #c5c5c5;
  display:              inline-block;
  position:             relative;
  top:                  1px;
  left:                 -1px;
  z-index:              100;
  -webkit-border-radius:4px 4px 1px 1px;
  -moz-border-radius:   4px 4px 1px 1px;
  border-radius:        4px 4px 1px 1px;
  background:           #ebebeb;
  background:           -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  background:           -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebebeb));
  -pie-background:      linear-gradient(#ffffff, #ebebeb);
  behavior: url(/PIE.htc);
}
header #login.open #btnClientLogin {
  color:                #cdcdcd;
  border:               2px solid #b7b7b7;
  border-bottom:        none;
  top:                  0;
  left:                 0;
  -webkit-border-radius:4px 4px 0 0;
  -moz-border-radius:   4px 4px 0 0;
  border-radius:        4px 4px 0 0;
  background:           #090909;
}

header #login form {
  width:                411px;
/*  height:               229px;*/
  padding:              5px 15px 15px;
  border:               2px solid #b7b7b7;
  background:           #090909;
  z-index:              1;
  -webkit-border-radius:2px 0 7px 7px;
  -moz-border-radius:   2px 0 7px 7px;
  border-radius:        2px 0 7px 7px;
  display:              none;
  position:             absolute;
  top:                  25px;
  right:                0;
     -moz-box-shadow:   0 4px 12px rgba(0,0,0,0.7); 
  -webkit-box-shadow:   0 4px 12px rgba(0,0,0,0.7); 
          box-shadow:   0 4px 12px rgba(0,0,0,0.7); 
}
header #login.open form {
  display:              block;
}

header #login form h3 {
  color:                #c3151c;
  font:                 197%/153.9% "GothamHTFBook",Tahoma,Arial,sans-serif;
  margin-bottom:        15px;
  border-bottom:        1px solid #2d2d2d;
  padding-left:         75px;
  background:           transparent url(../images/logo_sm.png) 0 10px no-repeat;
}

header #login form ul.benefits {
  width:                174px;
  margin:               0;
  padding:              15px 20px 0;
  list-style:           none;
  border-right:         1px solid #2d2d2d;
  float:                left;
  position:             relative;
  top:                  0;
  left:                 1px;
}

header #login form ul.benefits li {
  padding-bottom:       16px;
}

header #login form ul.benefits li h4 {
  color:                #e5e3e3;
  font:                 116%/100% "GothamHTFMedium",Tahoma,Arial,sans-serif;
  padding-bottom:       4px;
}

header #login form ul.benefits li p {
  color:                #858484;
  font:                 93%/100% Tahoma,Arial,sans-serif;
}

header #login form fieldset {
  width:                147px;
  padding:              13px 19px 8px 29px;
  border-left:          1px solid #2d2d2d;
  float:                left;
}

#loginOverlay {
  width:                100%;
  height:               100%;
  background:           #000;
  overflow:             hidden;
  position:             fixed;
  z-index:              60;
  -moz-opacity:         0.72;
  -ms-filter:           "alpha(opacity=72)";
  filter:               alpha(opacity=72);
  opacity:              0.72;
  display:              none;
}

header #login form label {
  color:                #b2b2b3;
  font:                 85%/100% Tahoma,Arial,sans-serif;
}

header #login form input[type=text],
header #login form input[type=password] {
  color:                #5e5e5e;
  width:                135px;
  margin:               5px 0;
  border:               1px solid #bdbcbd;
  display:              block;
  -webkit-border-radius:4px;
  -moz-border-radius:   4px;
  border-radius:        4px;
     -moz-box-shadow:   inset 1px 2px 4px #7f8488; 
  -webkit-box-shadow:   inset 1px 2px 4px #7f8488; 
          box-shadow:   inset 1px 2px 4px #7f8488;
}
header #login form input[type=text] {
  margin-bottom:        10px;
}
header #login form input[type=checkbox] {
  margin-right:         2px;
  position:             relative;
  top:                  -1px;
  left:                 0;
}

header #login form #form_login_forgot_password {
  color:                #2e769e;
  font:                 85%/100% Tahoma,Arial,sans-serif;
  padding-top:          2px;
  float:                right;
}

header #login form #form_login_login {
  margin-top:           7px;
  border-color:         #dbe4ea;
  -webkit-border-radius:6px;
  -moz-border-radius:   6px;
  border-radius:        6px;
}

/* / Client Login */

/* + Global Nav */

header nav {
  position:             absolute;
  bottom:               0;
  right:                10px;
  z-index:              10;
}

header nav ul.sf-menu li {
  float:                left;
  position:             relative;
  margin-right:         -1px;
  display:              inline;
  font-size:            93%;
  font-weight:          bold;
  height:               29px;
  overflow:             visible;
}
header nav ul.sf-menu li a.pn,
header nav ul.sf-menu li .snavItem a {
  color:                #616161;
  text-decoration:      none;
  text-transform:       uppercase;
  display:              block;
  position:             relative;
  z-index:              5;
  height:               15px;
  padding:              2px 30px 3px;
  border:               1px solid #dadada;
  border-width:         0 1px;
  overflow:             visible;
}
header nav ul.sf-menu li a.pn {
  font:                 108%/100% "FreightSansBold",Helvetica,sans-serif;
}
header nav ul.sf-menu li:first-child a.pn {
  border-left:          none;
}
header nav ul.sf-menu li:last-child a.pn {
  border-right:         none;
}
header nav ul.sf-menu li.selected {
/*  border-bottom:        4px solid #c3151c;*/
}
header nav ul.sf-menu li.selected a.pn .tl {
  height:               23px;
  border-bottom:        4px solid #c3151c;
  display:              block;
}
header nav ul.sf-menu li a.pn:visited {
  color:                #616161;
}
header nav ul.sf-menu li.sfHover a.pn,
header nav ul.sf-menu li a.pn:hover,
header nav ul.sf-menu li a.pn:active {
  color:                #0f0f0f; /* #bd081b */
}
header nav ul.sf-menu li.sfHover a.pn {
  background:           #eee url(../images/bg_gnav_hover.png) top left repeat-x;
  padding-bottom:       30px;
}
header nav ul.sf-menu li.sfHover a.pn .tl {
  border:               none;
}

header nav ul.sf-menu li ul.sn {
  font:                 100%/100% Tahoma,Helvetica,sans-serif;
  width:                460px;
  border:               1px solid #dadada;
  border-width:         0 1px 1px;
  padding:              16px;
  position:             absolute;
  top:                  29px;
  left:                 0;
  z-index:              1;
  display:              none;
  background:           #eee url(../images/bg_snav_ul.png) top left repeat-x;
  -webkit-border-radius:0 0 5px 5px;
  -moz-border-radius:   0 0 5px 5px;
  border-radius:        0 0 5px 5px;
     -moz-box-shadow:   2px 3px 6px -3px #9c8f85; 
  -webkit-box-shadow:   2px 3px 6px -3px #9c8f85; 
          box-shadow:   2px 3px 6px -3px #9c8f85;
}

header nav ul.sf-menu li ul li {
  float:                none;
  margin:               0;
  display:              block;
  height:               auto;
}
header nav ul.sf-menu li ul li .subnavLt {
  text-align:           center;
  width:                225px;
  padding:              8px 24px 0 6px;
  border-right:         1px solid #c7c7c7;
  float:                left;
  position:             relative;
  top:                  0;
  left:                 1px;
}
header nav ul.sf-menu li ul li .subnavRt {
  text-align:           center;
  width:                173px;
  padding:              8px 7px 0 23px;
  border-left:          1px solid #c7c7c7;
  float:                left;
  position:             relative;
}
header nav ul.sf-menu li ul.sn li img.gnavImg {
  margin:               0 auto 5px;
  display:              block;
}

header nav ul.sf-menu li ul li ul.snavItems {
  text-align:           left;
  width:                auto;
  position:             relative;
  top:                  0;
  left:                 0;
}
header nav ul.sf-menu li ul li ul.snavItems li {
  font-size:            100%;
}
header nav ul.sf-menu li ul li ul.snavItems li a,
header nav ul.sf-menu li.sfHover ul li ul.snavItems li a {
  color:                #28739c;
  font:                 100%/100% Tahoma,Helvetica,sans-serif;
  text-transform:       none;
  height:               auto;
  padding:              9px 0 6px;
  border:               1px solid #c0c0c0;
  border-width:         1px 0 0;
  background:           none;
  display:              block;
}
header nav ul.sf-menu li ul li ul.snavItems li a:visited {
  color:                #28739c;
}
header nav ul.sf-menu li ul li ul.snavItems li a:hover,
header nav ul.sf-menu li ul li ul.snavItems li a:active {
  color:                #bd081b;
  padding:              9px 0 6px;
}
header nav ul.sf-menu li ul li ul.snavItems li a h4 {
  font:                 116%/100% "GothamHTFMedium",Tahoma,Helvetica,sans-serif;
  margin-bottom:        5px;
}
header nav ul.sf-menu li ul li ul.snavItems li a p {
  color:                #202020;
  font-weight:          normal;
  padding:              0 16px 3px 0;
  float:                left;
  background:           #eee url(../images/arrow_snav_item.png) 100% 1px no-repeat;
  -moz-opacity:         0.55;
  -ms-filter:           "alpha(opacity=55)";
  filter:               alpha(opacity=55);
  opacity:              0.55;
}
header nav ul.sf-menu li ul li ul.snavItems li a:hover p,
header nav ul.sf-menu li ul li ul.snavItems li a:active p {
  -moz-opacity:         1;
  -ms-filter:           "alpha(opacity=100)";
  filter:               alpha(opacity=100);
  opacity:              1;
}

/* section-specific rules for submenus */

header nav ul.sf-menu li ul.sn.risk li .subnavLt {
  padding-top:          1px;
}
header nav ul.sf-menu li ul.sn.risk li .subnavRt h4 {
  color:                #797979;
  font:                 108%/131% "GothamHTFMedium",Tahoma,Helvetica,sans-serif;
  text-align:           center;
  margin:               0 0 10px;
}

header nav ul.sf-menu li ul.sn.careers li h3 {
  color:                #28739c;
  font:                 116%/100% "GothamHTFMedium",Tahoma,Helvetica,sans-serif;
  text-align:           left;
  margin-bottom:        19px;
  padding-bottom:       12px;
  border-bottom:        1px solid #c0c0c0;
}
header nav ul.sf-menu li ul.sn.careers li .subnavLt a.cta {
  color:                #1f1f1f;
  font:                 bold 93%/100% Tahoma,Helvetica,sans-serif;
  text-transform:       uppercase;
  padding-right:        13px;
  background:           transparent url(../images/arrow_snav_item.png) 100% 2px no-repeat;
}
header nav ul.sf-menu li ul.sn.careers li img.gnavImg {
  margin-bottom:        17px;
}
header nav ul.sf-menu li ul.sn.careers li ul.snavItems {
  padding:              0 0 11px;
  position:             relative;
  top:                  -7px;
}
header nav ul.sf-menu li ul.sn.careers li .subnavRt h3,
header nav ul.sf-menu li ul.sn.careers li ul.snavItems li a {
  padding-left:         34px;
}
header nav ul.sf-menu li ul.sn.careers li ul.snavItems li a {
  color:                #636363;
  border-style:         dotted;
}

header nav ul.sf-menu li ul.sn li ul.snavItems li:first-child a {
  border:               none;
}


/* / Global Nav */

/* / HEADER */

/* + MAIN */

#main {
/*  width:                928px;*/
  width:                960px;
  position:             relative;
  z-index:              1;
/*
  margin-top:           15px;
  padding:              0 40px 40px;
*/
  padding:              15px 40px 40px;
}

/* These templates are full width */
#t01 #main,
#t05 #main {
  width:                100%;
  margin-top:           0;
  padding:              0;
}

.contentOuter {
  background:           #dbe4ea;
}

/* / MAIN */

/* + SUBFOOTER */

.subfooter {
  height:               20px;
  border-bottom:1px solid #b9b8b8;
  background:#bdcfd9;
}

/* / SUBFOOTER */

/* + FOOTER */

footer {
  font-size:            90%;
  color:                #838282;
  text-align:           center;
  padding:              20px 0;
  background:           #fff;
  position:             relative;
  z-index:              50;
}

footer .wrapper {
  width:                960px;
  padding:              0 40px;
}

footer a {
  color:                #414040;
}

/* / FOOTER */

/* / *** REGIONS *** */


/* + *** AREAS *** */

/* + CONTENT */

/* These templates include a sidebar */
#t03 #content,
#t04 #content {
  width:                664px;
  margin:               0 10px;
  padding-right:        28px;
  float:                left;
}

#content section {
  padding:              32px 0 26px 0;
  border-top:1px solid #eee;
}

#content section div {
  height:250px;
  background:#cfcfcf;
  float:                left;
}
#content section div:last-child {
  background:#c1c1c1;
}

/* / CONTENT */

/* + SIDEBAR */

#main aside {
  width:                186px;
  margin-top:           10px;
  padding:              24px 30px;
  border:               1px solid #cccacb;
  -webkit-border-radius:6px;
  -moz-border-radius:   6px;
  border-radius:        6px;
  float:                left;
  background-color:     #fff;
}

/* / SIDEBAR */

/* / *** AREAS *** */


/* + *** MODULES *** */

/* + Feature */

#banner img {
  float:                left;
}

#t03 #banner {
  height:               255px;
}
#t03 #banner img {
  height:               255px;
  width:                960px;
}

#t04 #banner {
  height:               177px;
}
#t04 #banner img {
  height:               177px;
  width:                715px;
}
#t04 #banner img:first-child {
  width:                236px;
  margin-right:           9px;
}


#presenter {
  height:470px;
  background:#0ff;
}

/* / Feature */

/* + Breadcrumb */
/* / Breadcrumb */

/* + Toolbars */

#job_search {
  font-family:          Arial, Helvetica, sans-serif;
  font-weight:          bold;
  color:                #2e2e2e;
  margin-bottom:        26px;
}

#job_search form,
#job_search .sideLt,
#job_search .sideRt {
  height:               67px;
  float:                left;
  background:           transparent url(../images/bg_job_search.png) 0 0 no-repeat;
}

#job_search .sideLt,
#job_search .sideRt {
  width:                5px;
}

#job_search .sideRt {
  background-position:  0 -134px;
}

#job_search form {
  width:                950px;
  background-position:  0 -67px;
  background-repeat:    repeat-x;
}

#job_search form div {
  margin:               12px 0 0 45px;
  float:                left;
}

#job_search form label {
  margin-bottom:        4px;
  display:              block;
}

#job_search form input {
/*  padding:              2px;*/
  width:                290px;
  -webkit-border-radius:2px;
  -moz-border-radius:   2px;
  border-radius:        2px;
}

#job_search form select {
  font-size:            16px;
  width:                240px;
}


/* / Toolbars */

/* + Sidebar */

#sidebar .quote {
  font:                 125%/125% "GothamHTFBook",Tahoma,Arial,sans-serif;
  color:                #606060;
}
#sidebar .quote .author {
  font:                 77%/100% "GothamHTFBold",Tahoma,Arial,sans-serif;
  color:                #6e8394;
  margin-top:           4px;
}
#sidebar .quote .author .title {
  font-family:          "GothamHTFBook",Tahoma,Arial,sans-serif;
}

#sidebar #photo {
  position:             relative;
  margin-bottom:        88px;
}

/* cssSandpaper transform needs to be on wrapper or it will get stepped on by behavior */
#sidebar #photo .photo,
#sidebar #photo .photo2 {
  width:                241px;
  height:               166px;
  position:             relative;
  z-index:              2;
  -moz-transform:       rotate(-3deg);
  -webkit-transform:    rotate(-3deg);
  transform:            rotate(-3deg);
  -sand-transform:      rotate(-3deg);
}
#sidebar #photo .photo2 {
  position:             absolute;
  left:                 30px;
  top:                  68px;
  z-index:              1;
  -moz-transform:       rotate(3deg);
  -webkit-transform:    rotate(3deg);
  transform:            rotate(3deg);
  -sand-transform:      rotate(3deg);
}

#sidebar #photo .container {
  width:                238px;
  height:               143px;
  margin-top:           20px;
  position:             relative;
  left:                 -42px;
  border:               1px solid #cbcbcb;

  -webkit-border-radius:15px;
  -moz-border-radius:   15px;
  border-radius:        15px;

  -moz-box-shadow:      3px 3px 5px #ccc;
  -webkit-box-shadow:   3px 3px 5px #ccc;
  box-shadow:           3px 3px 5px #ccc;
  
  
  behavior: url(/PIE.htc);
}
#sidebar #photo .photo2 .container {
}

#sidebar #photo img {
  width:                226px;
  height:               131px;
  border:               6px solid #fff;

  -webkit-border-radius:15px;
  -moz-border-radius:   15px;
  border-radius:        15px;

}

#sidebar .benefit {
  font:                 bold 220%/90% Arial, Helvetica, sans-serif;
  color:                #849db1;
  margin-bottom:        20px;
}
#sidebar .benefit h4 {
  font-size:            120%;
  color:                #586976;
  margin-bottom:        4px;
}
#sidebar .benefit .subtext {
  font-size:            70%;
  line-height:          90%;
  color:                #586976;
  text-transform:       uppercase;
}

/* / Sidebar */

/* + Job Listings */

#job_listings h3 {
  font:                 167%/100% "GothamHTFMedium",Tahoma,Arial,sans-serif;
  color:                #181818;
  margin-top:           30px;
}

#job_listings h3:first-child {
  margin-top:           0;
}

#job_listings h3 .category {
  color:                #c3151c;
}

#job_listings article {
  margin-top:20px;
}

#job_listings article time {
  display:              none;
}

#job_listings article h4 {
  font-size:            108%;
  margin:               0 0 7px;
  padding:              0 0 5px;
  border-bottom:        1px solid #cbcbcb;
}

#job_listings article h4 a {
  color:                #13587e;
  text-decoration:      none;
}

#job_listings article h4 .region {
  color:                #323232;
  padding-right:        11px;
  float:                right;
}

#job_listings .footer {
  font:                 110%/100% "GothamHTFMedium",Tahoma,Arial,sans-serif;
  color:                #232323;
  margin-top:           36px;
}

#job_listings .footer .subtext {
  color:                #696969;
}

#job_listings .footer a.submit {
  font-size:            90%;
  color:                #1d3a4a;
  text-transform:       uppercase;
  height:               16px;
  display:              block;
  padding-left:         20px;
  background:           transparent url(../images/icon_submit_res.gif) 0 0 no-repeat;
  float:                right;
}

#job_listings .more {
  margin-right:10px;
  display:block;
  float:right;
  position:relative;
  top:-16px;
display:none;
}

/* / Job Listings */

/* + Job Detail */

/* / Job Detail */

/* + Apply */

/* / Apply */

/* + Share */

/* / Share */

/* + Follow */

/* / Follow */

/* + Testimonials */

/* / Testimonials */

/* + Plugs */

/* / Plugs */

/* + Chat */

#bg_chat {
  height:               711px;
  background:           transparent url(../images/bg_chat.jpg) top center no-repeat;
}

/* / Chat */

/* / *** MODULES *** */


/* TEMP */

.indexTitle {
  font-size:2em;
  width:120px;
  height:40px;
  margin:40px 0 40px 40px;
  text-indent:-9999px;
  background: url(../images/logo.png) 0 0 no-repeat;
}

ul.toc li a {
  text-decoration:none;
}
ul.toc li a:hover {
  color:#eee;
  background:#666;
}

ul.toc {
  color:#000;
  font-size:.8em;
  font-weight:bold;
  margin:2px 0 0 0;
  padding:4px;
  position:absolute;
  z-index:100;
  list-style-type:none;
  background:#ff0;
  opacity:0.5;
  filter:alpha(opacity=50);
}
ul.index.global li {
  margin-left:0; 
}
ul.index.global li a {
  font-weight:normal;
}

#indexPage {
  background:#fff;
}

#indexPage ul.toc {
  font-size:1em;
  line-height:1.5em;
  margin:0 40px;
  padding:10px;
  border:1px solid #ccc;
  background:#eee;
}

.tmpMsg {
  font-size:2em;
  font-weight:bold;
  color:#000;
}

/* / TEMP */




/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  header,
  footer {
    width:                1040px; /* force full width so bg is consistent; is this a good idea? */
    padding:              0;
  }
  footer {
    padding:              20px 0;
  }
  .btn {
    padding-top:          9px;
    padding-bottom:       4px;
  }
  .btnLg {
    padding-top:          13px;
    padding-bottom:       9px;
  }
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* inverse of above */
@media screen and (min-device-width: 481px) {
  body {
    overflow-x:           hidden; /* so header box-shadow doesn't create horiz scrollbar */
  }
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

